@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --bg-yellow: #ffa31a;
    --bg-gray: #808080;
    --bg-darkgray: #292929;
    --bg-black: #1b1b1b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: var(--bg-black);
}

ul {
    list-style-type: none;
}

section {
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    background-color: var(--bg-gray);
}

a{
    color: white;
}

/* Header Start */
.master-head {
    width: 98%;
    background: var(--bg-darkgray);
    margin: 10px;
}

.avatar {
    width: 35px;
    border-radius: 5px;
}

.header-left {
    width: 48%;
    margin: 10px;
    float: left;
    padding: 10px;
}

.header-right {
    width: 48%;
    margin: 10px;
    float: right;
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: center;
    align-self: center;
}

.nav-list {
    margin: 0 50px;
}

/* Header End */

/*  */

/* Responisive Web Start*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .master-head {
        display: block;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
    }

    .header-left {
        width: 95%;
        text-align: center;
    }
    
    .header-right {
        width: 95%;
        text-align: center;
    }

    .nav-list{
        margin: 0 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* Responisive Web End*/
