@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body{
    font-family: 'Poppins', sans-serif;
    padding-left: 8.5em;
    max-width: 100%;
    overflow-x: hidden;
    background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(5,50,61,1) 25%, rgba(61,73,65,1) 50%, rgba(130,136,108,1) 100%);
}

html{
    scroll-behavior: smooth;
}

header, nav, footer, section, main{
    display: block;
}

.fixed-nav{
    position: fixed;
    height: 100%;
    width: 6em;
    border-right: 1px solid white;
    left: 0;
    top: 0;
    background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(5,50,61,1) 25%, rgba(61,73,65,1) 50%, rgba(130,136,108,1) 100%);
    padding: 0 1em;
}

.nav{
    transform: rotate(-90deg);
    position: relative;
    margin-top: 5em;
}

.nav-list{
    list-style-type: none;
    position: absolute;
    padding: 0;
    margin: 0 10px;
    display: flex;
    right: 0;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

.nav-item{
    display: flex;
    align-items: center;
    font-size: large;
    padding: 0 20px;
}

a{
    color: white;
    text-decoration: none;
    justify-content: space-around;
}

.header-intro{
    margin: 50px;
    text-align: center;
    border: 15px solid rgb(5,50,61,1);
    color: white;
}

.logo{
    width: 200px;
}

.prog-lang{
    margin: 20px;
    height: 350px;
    text-align: center;
    color: white;
}

.front{
    width: 200px;
}

.back{
    width: 200px;
}

.col-left, .col-right, .center{
    width: 28%;
    margin: 10px;
    padding: 10px;
    float: left;
}
